@page
@model UserJiraIssuesModel
@{
    ViewData["Title"] = "Your issues from Jira app";
    ViewData["ActivePage"] = ManageNavPages.UserJiraIssues;
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var columnNumber = 2;
    var counter = 0;
}

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            @if (Model.IssuesVm.Count > 0)
            {
                <h3 class="ms-2 mb-2">Review your problem tickets</h3>
                @for (int i = 0; i < Model.PageSize / columnNumber; i++)
                {
                    <div class="card-group">
                        @for (int j = 0; j < columnNumber && counter < Model.IssuesVm.Count; j++)
                        {
                            <div class="card text-dark border border-dark rounded bg-light mx-2 my-1" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">@Model.IssuesVm[counter].Summary</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Status: @Model.IssuesVm[counter].Status</h6>
                                    <p class="card-text">Created in @Model.IssuesVm[counter].Created</p>
                                    <a href="@Model.IssuesVm[counter].IssueLink" class="card-link text-decoration-none">Check issue on Jira</a>
                                </div>
                            </div>
                            counter++;
                        }
                    </div>
                }

                <div class="btn-group border border-secondary rounded ms-2 mt-2">
                    <a asp-route-pageNumber="@(Model.PageIndex - 1)"
                       class="btn btn-light @prevDisabled">
                        Previous
                    </a>
                    <a asp-route-pageNumber="@(Model.PageIndex + 1)"
                       class="btn btn-light @nextDisabled">
                        Next
                    </a>
                </div>
            }
            else
            {
                <h3 class="ms-2 mb-2">You can send your first issue ticket using the "Send a report" button in the footer on the every page.</h3>
            }
        </div>
    </div>
</div>
