@using CollectionsManagementService.VievModels.Collection
@using DataORMLayer.Models
@model DetailedCollectionViewModel

<div class="container">
    <h1 class="col-8">The @Model.CollectionName collection</h1>
    <div class="row my-3">
        <div class="col-6">
            <div class="border p-3">
                <div>@Model.Description</div>
                <div>Category - @Model.CategoryName</div>
                <p>Created by - @Model.UserName</p>
                <a class="btn btn-outline-primary" asp-controller="Collection" asp-action="UpdateCollection" asp-route-collectionId="@Model.CollectionId">
                    Change this collection
                </a>
                <a class="btn btn-outline-success" asp-controller="Item" asp-action="Add" asp-route-collectionId="@Model.CollectionId">
                    Add new item
                </a>
            </div>

        </div>
        @if (Model.ImageUrl != null)
        {
            <div class="col-4">
                <div class="img-thumbnail">
                    <img src="@Model.ImageUrl" alt="The image of the @Model.CollectionName collection" class="img-fluid" />
                </div>
            </div>
        }
    </div>
</div>
<h3>Custom fields of the @Model.CollectionName collection</h3>
<div>
    <table class="table table-light table-bordered border border-1">
        <tr>
            <th>Field type label</th>
            @foreach (var customField in Model.CustomCollectionFields)
            {
                <td>@customField.FildTypeName</td>
            }
        </tr>
        <tr>
            <th>Custom field name</th>
            @foreach (var customField in Model.CustomCollectionFields)
            {
                <td>@customField.FieldName</td>
            }
        </tr>
    </table>
</div>

<h3>Collection Items</h3>
<div>
    <table class="table table-striped border border-1 table-bordered">
        <thead>
            <tr>
                <th>Item #</th>
                <th>Item Name</th>
                <th>Lines of the item</th>
                <th>Numbers of the item</th>
                <th>Dates of the item</th>
            </tr>
        </thead>
        <tbody>
            @{ int index = 1; }
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@index</td>
                    <td>
                        <a asp-controller="Item" asp-action="Index" asp-route-itemId="@item.ItemId">
                            @item.ItemName
                        </a>
                    </td>
                    <td>
                        @foreach (var customField in item.StringFields)
                        {
                            <span>
                                @customField.FieldName - 
                                @customField.Value
                            </span>
                        }
                    </td>
                    <td>
                        @foreach (var customField in item.IntegerFields)
                        {
                            <span>
                                @customField.FieldName -
                                @customField.Value
                            </span>
                        }
                    </td>
                    <td>
                        @foreach (var customField in item.DateFields)
                        {
                            <span>

                                @customField.FieldName -
                                @customField.Value
                            </span>
                        }
                    </td>
                </tr>
                index++;
            }
        </tbody>
    </table>
    <a class="btn btn-outline-success" asp-controller="Item" asp-action="Add" asp-route-collectionId="@Model.CollectionId">
        Add new item
    </a>
</div>
