@using CollectionsManagementService.VievModels.Collection
@model List<CollectionViewModel>

<h1>All user collections</h1>
<table class="table table-striped table-bordered shadow">
    <thead>
        <tr>
            <th>#</th>
            <th>Category</th>
            <th>Collection name</th>
            <th>Description</th>
            <th>Custom fields</th>
        </tr>
    </thead>
    <tbody>
        @{ int index = 1; }
        @foreach (var collection in Model)
        {
            <tr>
                <td>@index</td>
                <td>@collection.CategoryName</td>
                <td>
                    <a asp-controller="Collection" asp-action="GetCollection" asp-route-collectionId="@collection.CollectionId">@collection.CollectionName</a>
                </td>
                <td>@collection.Description</td>
                <td>
                    <ul class="list-group list-group">
                        @foreach (var customField in collection.CustomCollectionFields)
                        {
                            <li class="list-group-item list-group-item-info p-1">
                                @customField.FieldName (@customField.FieldTypeName)  
                            </li>
                        }
                    </ul>
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>
